
body {
	background-color: black;
	
    	 
}
h1, h2, h3, h4, h5, h6, button, input[type="submit"] {
	font-family: 'Bree Serif', serif;
	
}


.h3 li {
	color: white;
}



#social-container {
	background-color: #1c3643
}
#logo-container .callout {
	background-color: #ee3f54;
	color: white;
	margin-bottom: 0;
}

#menu-container {
	background-color: #48a19d;
	
}

#menu-container li a {
	color: white;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
}

#submenu-container {
	border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover {
	color: #f6e15f;
}

#submenu-container li a {
	background-color: #48a19d;
	color: white;
	
}

#tickets-action .callout {
	background-color: #5e7eb7;
	color: white;
	margin-bottom: 0;
}

#tickets-action  .callout button {
	color: white;
	border: 1px solid white;
}

#lineup-container {
	padding: 1em 0;
}

#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a {
	background-color: #9676af;
	color: white;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

.tabs-content {
	border: 0;
}

#lineup-container .tabs .tabs-title a {
	font-size: 18px;
	color: #a7fffb;
	
	
} 

#lineup-container .tabs .tabs-title a:hover {
	color: white;
	background-color: #9676af;
	
}

.tabs-title {
	display: inline-block;
	float: none;
}

#lineup-container .orbit-container {
	margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption {
	text-align: right;
}

#tickets-container {
	padding: 1em 0;	
	margin: 1rem 0;
  background: #d2d7d3;
  color: #161742;
  	   
		
}





  <!-- carrito-->
 

.shopping-cart-button {
  padding: 1rem;
  background-color: #1779ba;
}

.shopping-cart-button:hover {
  background-color: #115b8d;
}

.shopping-cart-button i {
  margin-right: 0.5rem;
}

.shopping-cart-dropdown-pane .dropdown-pane {
  padding: 0;
}

.shopping-cart-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.shopping-cart-item-name, .shopping-cart-item-price {
  padding: 0 1rem;
}

.shopping-cart-item-name p, .shopping-cart-item-price p {
  margin: 0;
  padding: 0;
}

.shopping-cart-title {
  font-weight: bold;
}

.shopping-cart-checkout {
  padding: 0.5rem;
  margin-bottom: 0;
}




  <!-- carrito add -->
  
  
.button-group-option {
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.button-group-option::before, .button-group-option::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.button-group-option::after {
  clear: both;
}

.button-group-option .button {
  margin: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.button-group-option .button:last-child {
  margin-right: 0;
}

.button-group-option .button {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.button-group-option .button {
  font-size: 1.125rem;
}

.button-group-option:before {
  content: attr(data-grouptype);
  z-index: 1;
  color: #8a8a8a;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25em;
  border-radius: 5000px;
  background: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-group-option .button + .button {
  margin-left: 0.35rem;
}
























.pricing-table {
	border: 1px solid #161742;
	font-family: 'Vast Shadow', cursive;
}


.pricing-table li,
.pricing-table li.title,
.pricing-table li.description {
	font-size: 17px;
}

.pricing-table a.button {
	font-family: 'Bree Serif', serif;
}

#info-container {
	background-color: #161742;
	color: white;
    padding: 1em 0;
}

#suscribete-container {
	background-color: #ee3f54;
	color: white;
	padding: 1em 0;
}

#suscribete-container h4 small {
	color: #ffcddc;
}

#suscribete-container input[type="button"] {
	font-family: 'Bree Serif', serif;
}

#suscribete-container .error-container {
	font-family: 'Bree Serif', serif;
}

.is-invalid-input:not(:focus) {
	background-color: rgb(255, 228, 228);
	border-color: rgb(255, 228, 228);
}

.data-sticky {
	width: 100%;
	z-index: 100;
}

#offCanvas {
	background-color: black;
	color: white;
	font-family: 'Bree Serif', serif;
}



.cite1 {
  border-left: 5px solid #ec5840;
  padding: 10px 0 10px 30px;
  margin: 0 0 1rem -10px; }
  
  .cite1 p {
	  color: #F68B0A;  
  }


.cite {
  border-left: 5px solid #ec5840;
  padding: 10px 0 10px 30px;
  margin: 0 0 1rem -10px; }
  
  .cite p {
    font-style: italic;
    color: #e6e6e6;
	font-family: 'Bree Serif', serif;
	}
	
	#offCanvas .is-drilldown-submenu-parent > a::after {
		border-color: transparent transparent transparent white;
	}
	#offCanvas .js-drilldown-back> a::before{
		border-color: transparent white transparent transparent;
	}
	
	
	
	footer {
		
	background-color: #5147D7;
	padding: 10px;
	color: #ffcddc;
	font-size: 12px;
	text-align: center;
}


.colores {
	background-color: #F3310A;
	text-align: center;
	font-size: 22px;
}

.descripcion {
	background-color: #F1EFEC;
	text-align: center;
	font-size: 15px;
	color: #0D0803 ;
}

.contenido p {
	color: #0D0803;
}

.row h4 {
	color: #0AF6EB;
	font-size: 35px;
}

.row h3 {
	color: #0AF6EB;
}

.titulo h1 {
		color: #FEFB00;

}






<!-- carrito add -->



.product-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}






	  
	  
	  
	  
	  
 